* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#clearBtn {
    background-color: #dc3545;
    grid-column: span 2;
    width: 50%;
    justify-self: center;
}

#clearBtn:hover {
    background-color: #b02a37;
}

#result {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    mnin-height: 40px;
}

@media(max-width:500px) {

    .container {
        width: 90%;
    }

}